* text=auto

*.java text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.gradle text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
*.properties text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
/Docs/기획/2026-04-17_기획발표_장표.pptx filter=lfs diff=lfs merge=lfs -text
/AI/ondevice_test/app/libs/sherpa-onnx-1.13.0.aar filter=lfs diff=lfs merge=lfs -text
/AI/ondevice_test/app/src/main/assets/models/sense_voice/model.int8.onnx filter=lfs diff=lfs merge=lfs -text
/AI/voice_data/data.jsonl filter=lfs diff=lfs merge=lfs -text
/FE/app/libs/sherpa-onnx-1.13.0.aar filter=lfs diff=lfs merge=lfs -text
/AI/llm_test/FE/app/libs/sherpa-onnx-1.13.0.aar filter=lfs diff=lfs merge=lfs -text
/AI/llm_test/FE/app/src/main/assets/models/sense_voice/model.int8.onnx filter=lfs diff=lfs merge=lfs -text
